<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event</title>
</head>
<body>

<h3>Vacancy events list:</h3>


<div>
<table style="border-collapse: collapse;" border="1">
<tbody>
<td style="text-align: center;"><strong>ID</strong></td>
<td style="text-align: center;"><strong>Description</strong></td>
<td style="text-align: center;"><strong>Title</strong></td>
<td style="text-align: center;"><strong>Due to date</strong></td>

{% for event in events %}

<tr>
<td style="text-align: center;"><a href="{{event['id']}}/">{{event['id']}}</a></td>
    <td style="text-align: center;">{{event['description']}}</td>
    <td style="text-align: center;">{{event['title']}}</td>
    <td style="text-align: center;">{{event['due_to_date']}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

<br><br><strong>To add a new event fill out the form below:<br><br></strong>

<form action="/vacancy/{{vacancy_id}}/events/" method="POST">
    <input type="text" name="description" placeholder="Description">
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="due_to_date" placeholder="Due to date">
    <input type="submit" value="Add event">
</form>


<br><a href="/vacancy/{{vacancy_id}}/">Back to vacancy</a>
<br><a href="/vacancy/">All vacancies</a>
</body>
</html>
