<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>

<h2>{% if user_name %}Hello, {{ user_name }}!
        {% else %}Welcome to Vacancies CRM!
        {% endif %}</h2>
<br>
<br><a href="/login/">Log in</a>
<h4>If you do not have an account, you need to <a href="/registration/">register</a></h4>
<br><br><a href="/vacancy/">All vacancies</a>
<br><a href="/user/mail">Send mail</a>

<br><a href="/logout/">Log out</a>


</body>
</html>
