<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <title>Vacancy {{vacancy}}</title>
</head>
<body>


<h2 style="text-align: center;"><strong>Vacancy Position name: {{result['position_name']}} </strong></h2>

<br>

<br><strong>Company: </strong> {{result['company']}}<br>
<br><strong>Description: </strong>{{result['description']}}<br>
<br><strong>Comment: </strong> {{result['comment']}}<br>


<br><b>Contacts:</b><br>
    {% for one_contact in result.contacts %}
        <br><strong>Contact name: </strong> {{ one_contact.name }}<br>
        <br><strong>Contact email: </strong>{{ one_contact.email }}<br>
        <br><strong>Contact phone: </strong>{{ one_contact.phone }}<br>
{% endfor %}


<br><br>To update the vacancy fill out the form below:<br>



<form action="/vacancy/{{vacancy_id}}/" method="POST">
    <input type="text" name="position_name" placeholder="Position name"><br/>
    <input type="text" name="company" placeholder="Company"><br/>
    <input type="text" name="description" placeholder="Description"><br/>
    <input type="text" name="comment" placeholder="Comment"><br/>
    <input type="submit" value="Update vacancy">
</form>

<br><a href="/vacancy/{{vacancy_id}}/events/">To show vacancy events</a>
<br><a href="/vacancy/">All vacancies</a>


</body>
</html>
