<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vacancies</title>
</head>
<body>

<h3>Add / view vacancies:</h3>



<br><br><strong>To add a new vacancy fill out the form below:<br><br></strong>

<form action="/vacancy/" method="POST">
    <input type="text" name="position_name" placeholder="Position name">
    <input type="text" name="company" placeholder="Company">
    <input type="text" name="description" placeholder="Description">
    <input type="text" name="contact_name" placeholder="Contact name">
    <input type="text" name="contact_email" placeholder="Contact email">
    <input type="text" name="contact_phone" placeholder="Contact phone">
    <input type="text" name="comment" placeholder="Comment">
    <input type="submit" value="Add vacancy">
</form>

<br><b>List of vacancies:</b><br>
<div>
{% for vacancy in vacancies %}

    <ul>
        <li><a href="/vacancy/{{ vacancy['id'] }}">
            <b>{{vacancy['position_name']}}</b></a></li>
        <i>Company</i>: {{vacancy['company']}}<br>
        <i>Description</i>: {{vacancy['description']}}<br>
        <br><b>Contacts:</b><br>
            {% for contacts in vacancy.contacts %}
                <i>Contact name</i>: {{ contacts.name }}<br>
                <i>Contact email</i>: {{ contacts.email }}<br>
                <i>Contact phone</i>: {{ contacts.phone }}<br>
    </ul>

        {% endfor %}
        <br>----------------------<br>
    {% endfor %}
<br><a href="/">Back to main page</a>
</div>
</body>
</html>
